*~
bazel-*
build/*
bin/*
lib/*
var/*
publish/*_debug
publish/*_release
publish/*_build
!.git*
!.clang-format
output-mercury
deploy
GPATH
GRTAGS
GTAGS
*.pyc
.vscode/*
tests/benchmark/data/output*
tests/benchmark/data/sift*
tests/benchmark/data/ram*
tests/benchmark/data/dssmtopk*